@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: url("https://i.pinimg.com/736x/f0/14/8d/f0148d946298cd1b9fffd13e8f9f1d42.jpg");
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url("https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif");
    --foreground: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: var(--background) no-repeat center center;  
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
