@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #012677;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #012677;
    --foreground: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
