@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: url("https://i.pinimg.com/736x/cd/1c/75/cd1c75933cf89ec083dba3c056d79ae2.jpg");
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: url("https://i.pinimg.com/736x/cd/1c/75/cd1c75933cf89ec083dba3c056d79ae2.jpg");
    --foreground: #ffffff;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  background: var(--background) no-repeat center center; 
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
